/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

 *.class
 #package file
 *.war
 *.ear

 *.orig
 #temp file
 *.log
 *.diff
 *.cache
 *.patch
 *.tmp

 #system file
 .DS_store
 Thumbs.db